pandas==2.2.3
numpy==2.2.2
spacy==3.8.4
dash==2.18.2
jupyter==1.1.1
transformers==4.48.3
scipy==1.15.2
spacy-lookups-data==1.0.5
nltk
scikit-learn
spacytextblob
matplotlib
locationtagger
us
ast
atproto