-r requirements-demo.txt
spacy==3.8.4
jupyter==1.1.1
transformers==4.48.3
scipy==1.15.2
spacy-lookups-data==1.0.5
nltk
scikit-learn
spacytextblob==5.0.0
matplotlib
locationtagger
us
atproto
waitress
lxml[html_clean]
supabase
gunicorn
Flask==3.0.3
python-dotenv
psutil
